<header class="header">
    <nav>
        <ul>
            <li>
                <a href="/" class="SELECTED"><img src="/_images/house-door-fill.svg" class="header__icon"/></a>
            </li>                     
            <li>
                <a href="/"><img src="/_images/calendar-fill.svg" class="header__icon"/></a>
            </li> 
        </ul>
        <ul>         
            <li> 
                <a href="/"><img src="/_images/bell-fill.svg" class="header__icon"/></a>
            </li>                    
            <li>
                <a href="/"><img src="/_images/question-lg.svg" class="header__icon"/></a>
            </li>            
            <li>
                <a href="/"><span class="header__avatar"></span></a>
            </li>  
        </ul>
    </nav>
</header>