<head>
    <meta charset="UTF-8">
    <title>Learnpoint Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/_styles/default.css">
    <link rel="stylesheet" href="/_styles/header.css">
    <link rel="stylesheet" href="/_styles/main.css">
    <link rel="stylesheet" href="/_styles/home.css">
    <link rel="stylesheet" href="/_styles/submenu.css">   
    <link rel="stylesheet" href="/_styles/group.css">
    <script src="/_scripts/main.js"></script>
</head>