<div class="sub-menu">
    <ul class="sub-menu__items">
        <li class="sub-menu__item SELECTED">
            <a href="/" class="sub-menu__item-link">Innehåll</a>
        </li>                     
        <li class="sub-menu__item">
            <a href="/" class="sub-menu__item-link">Nyheter</a>
        </li>        
        <li class="sub-menu__item"> 
            <a href="/" class="sub-menu__item-link">Kalendar</a>
        </li>                    
        <li class="sub-menu__item">
            <a href="/" class="sub-menu__item-link">Loggböcker</a>
        </li>            
        <li class="sub-menu__item">
            <a href="/" class="sub-menu__item-link">Betyg</a>
        </li>                   
        <li class="sub-menu__item">
            <a href="/" class="sub-menu__item-link">Deltagare</a>
        </li>       
        <li class="sub-menu__item">
            <a href="/" class="sub-menu__item-link">Personal</a>
        </li>   
        <li class="sub-menu__item">
            <a href="/" class="sub-menu__item-link">Om</a>
        </li>  
    </ul>
</div>