<nav class="sub-menu">
    <ul>
        <li class="SELECTED">
            <a href="/">Innehåll</a>
        </li>                     
        <li>
            <a href="/">Nyheter</a>
        </li>        
        <li> 
            <a href="/">Kalendar</a>
        </li>                    
        <li>
            <a href="/">Loggböcker</a>
        </li>            
        <li>
            <a href="/">Betyg</a>
        </li>                   
        <li>
            <a href="/">Deltagare</a>
        </li>       
        <li>
            <a href="/">Personal</a>
        </li>   
        <li>
            <a href="/">Om</a>
        </li>  
    </ul>
</nav>