.header {
    background-color: #0780ff;
    padding: 16px;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.header a {
    color: inherit;
    text-decoration: none; 
}

a.SELECTED {
    text-decoration: underline; 
}
