.home {
    
}

.home__title {
    margin:0 0 32px ;
}

.home__groups {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.home__groups-item {
    /* box-sizing: border-box; */
    width: 250px;
    height: 150px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 16px rgba(0,0,0,.1);
    padding: 1em;
    cursor: pointer;
    position: relative;
}

.home__groups-item a {
    color: inherit;
    font-weight: 600;
    font-size: 1.17em;
}

.home__groups-item p {
    color: #777;
    position: absolute;
    bottom: 0;
    font-size: 14px;
}