.home {
    max-width: 960px;
    margin: 0 auto;
}

.home__title {
    margin: 32px 0;
    text-align: center;
}

.home__search {
    text-align:center;
}

.home__search-input {
    display: block;
    padding: 6px 8px;
    font-size: 14px;
    font-family: inherit;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    transition-property: border-color, box-shadow;
    transition-duration: .2s;
    max-width: 500px;
    margin: 0px auto 36px;
    vertical-align: baseline;
    -webkit-appearance: none;
}

.home__groups {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.is-mobile .home__groups {
    display: block;
}

.home__groups-item {
    /* box-sizing: border-box; */
    /* width: 250px;*/
    height: 150px; 
    flex: 0 0 15em;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 16px rgba(0,0,0,.1);
    padding: 1em;
    cursor: pointer;
    position: relative;
}

.is-mobile .home__groups-item {
    margin: 16px;
}

.home__groups-item a {
    color: inherit;
    font-weight: 600;
    font-size: 1.17em;
}

.home__groups-item p {
    color: #777;
    position: absolute;
    bottom: 0;
    font-size: 14px;
}