.home {
    max-width: 960px;
    margin: 0 auto;
}

.home__title {
    margin: 32px 0;
    text-align: center;
}

.home__groups {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.is-mobile .home__groups {
    display: block;
}

.home__groups-item {
    /* box-sizing: border-box; */
    /* width: 250px;*/
    height: 150px; 
    flex: 0 0 15em;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 16px rgba(0,0,0,.1);
    padding: 1em;
    cursor: pointer;
    position: relative;
}

.is-mobile .home__groups-item {
    margin: 16px;
}

.home__groups-item a {
    color: inherit;
    font-weight: 600;
    font-size: 1.17em;
}

.home__groups-item p {
    color: #777;
    position: absolute;
    bottom: 0;
    font-size: 14px;
}