.group__content {
    max-width: 800px;
    box-sizing: border-box;
    padding: 1em;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}

.group__breadcrumb {
    max-width: 800px;
    padding: 1em 0;
    margin: 3em auto 0;
    display: flex;
    gap: 4px;
    font-size: 14px;
}

.group__breadcrumb a {
    color: #0079f2;
    text-decoration: none;
}

.group__content-page-title {
    margin: 8px 0 0;
    text-align: center;
}

.group__content-course-name {
    margin: 2px 0 16px;
    text-align: center;
    color: rgb(146, 145, 145);   
    font-weight: normal;
}

.group__title {
    margin: 48px 0 16px;
    text-align: center;
}

.group-home__title {
    margin: 48px 0 16px;
    text-align: center;
}

.group__content-section {
    margin:0 0 2em 0;
}

.group__content-text {
    margin:0 0 2em 0;
    padding:0 4em;
    font-size: 18px;
    line-height: 30px;
}


.group__content-items {
    display: block;
    padding-left: 0;
    margin-top: 0;
}

.group__content-item {
    padding:0 0 .6em 0;
    color: #0079f2;
}

.group-home__content { 
    max-width: 800px;
    padding: 1em;
    margin: 0 auto;
}

.group-home__features {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.group-home__feature {
    box-sizing: border-box;
    flex: 0 0 15em;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 16px rgba(0,0,0,.1);
    padding: 3em;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.group__content-item a {
    color: #0079f2;
    text-decoration: underline;
}

.group-home__feature a {
    color: inherit;
    font-size: 1.17em;
    font-weight: 601
}