.sub-menu {
    padding: 0 0 1em;
    max-width: 700px;
    margin: 0 auto;
}

.sub-menu__items {
    display: flex;
    gap: unset;
    justify-content: space-between;
    overflow-x: auto;
    list-style: none;
    padding: 0;
}

.sub-menu__item { 
    padding: .5em .8em;
}

.sub-menu__item-link {
    color: #000;
    text-decoration: none;
}

.sub-menu__item.SELECTED {
   background-color: #ddd;
   border-radius: 4px;
   font-weight: 600;
}