.sub-menu {
    /* margin: 0 0 1em; */
    padding: 0 0 1em;
    /* border-bottom: 1px solid #ddd; */
}

.sub-menu__items {
    display: flex;
    gap: .5em;
    justify-content: center;
}

.sub-menu__item { 
    padding: .5em .8em;
}

.sub-menu__item-link {
    color: #000;
    text-decoration: none;
}

.sub-menu__item.SELECTED {
   background-color: #ddd;
   border-radius: 4px;
   font-weight: 600;
}