body {
    font-family: -apple-system, "Segoe UI", Helvetica, sans-serif;
    background-color: #f5f5f5;
}

main {
    background-color: #fff;
    max-width: 768px;
    margin: 2em auto;
    padding: 1em;
    border-radius: .5em;
}

h1 {
    text-align: center;
}
